<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Content Management System(CMS)</title>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;


        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        .nav a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }


        .container {
            max-width: 1400px;
            margin: 15px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            margin: 20px;
            width: 380px;
            text-align: center;
        }

        .card h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card h3 {
            color: #777;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 16px;
            line-height: 1.5;
        }

        /* Style for the content container */
        .content {
            /* padding-top: 12em; */
            text-align: center;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* Style for the button */
        .button {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
    </head>

    <body>
        <header>
            <h1>Content Management System(CMS)</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/aboutus">About</a>
                <a href="/createBlogs">Add Blogs</a>
                <a href="#">Services</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>

        <div class="container">
            <% if(blogs.length==0){ %>
            <div class="content">
                <h1>No Blogs</h1>
                <a href="/createBlogs" class="button">Create a Blog</a>
            </div>
            <% } else { %>
            <% blogs.forEach((blog)=>{ %>
            <div class="card">
                <h2><%- blog.title %></h2>
                <h3><%- blog.subTitle %></h3>
                <p><%- blog.description.slice(0,100)%>...</p>
                <p><a href="/singleBlog/<%-blog.id %>" class=" button">Read
                        More</a></p>
            </div>
            <% }) %>
            <% } %>

        </div>
    </body>

</html>