<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Blogs</title>
        <style>
        /* Reset some default styles for the page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        
        
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        .nav a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }

        /* Style for the content container */
        .content {
            padding: 15em;
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
            text-align: center;

        }
        #head{
            color: #fff;
        }

        /* Style for the text */
        h1 {
            font-size: 24px;
            color: #333;
        }

        /* Style for the button */
        .button {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
    </head>
    <body>
        <header>
            <h1 id="head">Content Management System(CMS)</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/aboutus">About</a>
                <a href="/createBlogs">Add Blogs</a>
                <a href="#">Services</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <div class="content">
            <h1>No Blogs</h1>
            <a href="/createBlogs" class="button">Create a Blog</a>
        </div>
    </body>
</html>
